<% include partials/header %>
<h1>Tableros de Ajedrez</h1>
<p>Los mejores tableros de ajedrez </p>
<a href="/chessboards">Ven a ver los tableros</a><br>
<a href="/chessboards/new">Agrega un nuevo Tablero aqui</a>
<% include partials/footer %>